<nav class="navbar" role="navigation">
  <div class="container-fluid alert">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="<%= 'active' if ['origins', 'translations', 'vocabularies'].include?(controller_name) %>">
        <%= link_to "Stories", admin_story_origins_path %>
      </li>
      <li role="presentation" class="<%= 'active' if ['users'].include?(controller_name) %>"><%= link_to "Users", admin_users_path %></li>
    </ul>
  </div>
</nav>
