<h2><%= translation.title %>&nbsp;&nbsp;<span class="label label-warning"><%= translation.language %></span>
    <%= link_to "Edit", edit_admin_story_origin_translation_path(translation.story, translation), class: "btn btn-primary" if action_name == "show" %>
</h2>
<div class="alert alert-warning">
  <p><%= simple_format translation.content %></p>
</div>
