
<table class="table">
	<% if vocabularies.any? %>
    <tr>
    	<td colspan="2" class="alert alert-danger">Vocabularies</td>
    	<td class="alert alert-danger"></td>
    </tr>
  <% end %>
	<% vocabularies.each do |voca| %>
	  <tr class="vocabulary">
	    <td class="alert alert-success"><%= voca.keyword %></td>
	    <td class="alert alert-info"><%= simple_format voca.explain %></td>
	    <td class="alert alert-info"><%= link_to "Edit", edit_admin_story_origin_vocabulary_path(voca.story, voca), class: "btn btn-primary" %></td>
	  </tr>
	<% end %>
</table>