<% results.each_with_index do |result, index| %>
  <li role="presentation" class="<%= 'event' if index % 2 == 1 %>">
    <div class="result-item" role="menuitem" onclick="javascript:change_iframe_src('<%= result[:link] %>')">
      <%= simple_format result[:content] %>
    </div>
  </li>
<% end %>

