<h1>Tools</h1>
<table class="table table-striped table-bordered ">
  <tr>
    <th style="width: 30%;"><div><%= link_to "Encoder/Decoder", new_algorithm_path, class: "btn alert alert-success" %></div></th>
    <td>
      Rot <br/>
      Accii to Binary <br/>
      Accii to Hex <br/>
      Hex to Accii <br/>
      Base64 <br/>
      UUencode/UUdecode <br/>
      MD5
    </td>
  </tr>

  <tr>
    <th style="width: 30%;"><div><%= link_to "Image to base64", new_image_path, class: "btn alert alert-success" %></div></th>
    <td>
      Image to base64
    </td>
  </tr>

  <tr>
    <th style="width: 30%;"><div><%= link_to "Base64 to Image", base64_to_image_images_path, class: "btn alert alert-success" %></div></th>
    <td>
      Base64 to Image
    </td>
  </tr>

  <tr>
    <th style="width: 30%;"><div><%= link_to "QR code", new_qr_code_path, class: "btn alert alert-success" %></div></th>
    <td>
      Generate QR code <br/>
      Character matrix analysic to QR code
    </td>
  </tr>
</table>
