<h2><%= @translation.title %>&nbsp;&nbsp;<span class="alert alert-info"><%= @translation.language %></span></h2>
<div class="alert alert-warning">
  <p><%= simple_format @translation.content %></p>
</div>
