<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <%= link_to "Back to Translations", admin_story_origin_translations_path(@origin), class: "btn btn-default" unless action_name == "index" %>
  </div>
  <div class="btn-group">
    <%= link_to "Back to Story", admin_story_origin_path(@origin), class: "btn btn-default" %>
  </div>

</div>
<div class="btn-toolbar" role="toolbar" style="overflow:hidden">
  <div class="btn-group" style="float:right">
    <div><%= link_to "New", new_admin_story_origin_translation_path, class: "btn btn-warning" if action_name == "index" %></div>
  </div>
</div>
