body { padding-top: 60px; }

#container {
  margin-bottom: 100px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  margin: 0px -20px;
}

.footer-links {
  margin-top: 20px;
  li {
    float: left;
    margin-right: 10px;
  }
} 


// form
form {
  width: 720px;
  padding: 20px;
  margin: 20px auto !important;
  border: 1px solid rgb(206, 255, 206);
  box-shadow: 0px 1px 10px #E3F4E3;
  border-radius: 6px;

  select {
    width: 720px;
  }

  textarea, input {
    width: 705px;
  }
}

#results {
  width: 762px;
  margin: auto;
}

.page-title {
  width: 767px;
  margin: 10px auto;
}

.btn-140 {
  width: 140px;
}