.span9 {
  overflow: hidden;
}
span {
  font-size: 19px;
}

#translations {
  width: 97%;
  float: right;
}

#vocabularies {
  width: 97%;
  float: right;
}

.btn-group {
  float: left;
  margin: 5px 0px; 
  margin-right: 20px;
}

.stories-nav {
  //overflow: hidden;
}

.pager {
  margin: 5px 0px;
  float: left;
}

.story-content {
  margin-top: 80px;
}

#comments {
  float: left;
  margin-left: 3%;
  width: 97%;
}

#comment-form{
  #comment_content{
    width: 98%;
  }
}